<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.elec5619.dao.TopicMapper">
    <resultMap id="topicQuery" type="com.elec5619.pojo.topic.TopicDetail">
        <result property="topicId" column="topic_id"/>
        <result property="topicName" column="topicName"/>
        <result property="content" column="content"/>
        <result property="createTime" column="date"/>
        <result property="pmId" column="pm_id" />
        <result property="pmName" column="pmName" />
        <result property="photo" column="photo"/>
    </resultMap>

    <select id="getByTopicName" resultMap="topicQuery">
        SELECT  topic_id, topic_name, content, tbl_topic.create_time, pm_id, pm_name, avatar
        FROM
            tbl_topic LEFT JOIN tbl_pm USING(pm_id)
        WHERE topic_name LIKE #{topicName}
    </select>

    <select id="getCollectNumByTopicId" resultType="java.lang.Integer">
        SELECT IFNULL(collects,0) AS collectNum
        FROM
            tbl_topic LEFT JOIN
            (SELECT topic_id, COUNT(*) AS collects
             FROM tbl_collects
             GROUP BY topic_id) tb_collect USING(topic_id)
        WHERE topic_id = #{topicId};
    </select>

    <select id="getLikeNumByTopicId" resultType="java.lang.Integer">
        SELECT IFNULL(likes,0) AS likeNum
        FROM
            tbl_topic LEFT JOIN
            (SELECT topic_id, COUNT(*) AS likes
             FROM tbl_likes
             GROUP BY topic_id) tb_like USING(topic_id)
        WHERE topic_id = #{topicId};
    </select>

<!--    <select id="getCollectNumByTopicId" resultType="java.lang.Integer">-->
<!--        SELECT COUNT(*) AS collectNum-->
<!--        FROM tbl_collects-->
<!--        GROUP BY topic_id-->
<!--        HAVING topic_id = #{topicId}-->

<!--    </select>-->

<!--    <select id="getLikeNumByTopicId" resultType="java.lang.Integer">-->
<!--        SELECT COUNT(*) AS likeNum-->
<!--        FROM tbl_likes-->
<!--        GROUP BY topic_id-->
<!--        HAVING topic_id = #{topicId}-->
<!--    </select>-->

    <select id="getCommentNum" resultType="java.lang.Integer">
        SELECT IFNULL(SUM(comment + IFNULL(reply, 0)),0) AS commentNum
        FROM
            (SELECT topic.topic_id, comment , reply
             FROM
                 (tbl_topic topic
                     LEFT JOIN
                     (SELECT topic_id, COUNT(*) AS comment
                      FROM tbl_comment
                      GROUP BY topic_id) com USING(topic_id))
                     LEFT JOIN
                 (SELECT topic_id, COUNT(*) AS reply  -- 话题二级评论的数量
                  FROM tbl_comment com JOIN tbl_reply rep on com.id = rep.comment_id
                  GROUP BY topic_id) rep
                 ON rep.topic_id = com.topic_id) total
        WHERE topic_id = #{topicId}
        GROUP BY topic_id;
    </select>

</mapper>