<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.elec5619.dao.UserMapper">

    <select id="getTopicByComment" resultType="com.elec5619.domain.topic.TopicDetail">
        select *
        from tbl_topic
        where topic_id in (
            select distinct(topic_id)
            from tbl_comment
            where ( id in (select comment_id from tbl_reply where from_uid = #{uid} and from_role = #{role}))
                    or (uid = #{uid} and role = #{role})
        )
    </select>
</mapper>